body{
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    line-height: 1.6;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #4b0083;
}
.typo{
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.ordered-list{
    list-style-type:upper-roman;
    padding-left: 45px;
}
.unordered-list{
    list-style-type: square;
    padding-left: 45px;
}